<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ctfUTM</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'utm_admin/image/utm-logo.png' %}" />
    <link rel="stylesheet" href="{% static 'utm_admin/st.css' %}"/>
</head>
<body>
    <p class="top5">
    <img src="{% static 'utm_admin/image/pass.jpg' %}" class="center">
</body>
</html>