<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ctfUTM</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'mainApp/image/utm-logo.png' %}" />
    <link rel="stylesheet" href="{% static 'mainApp/st1.css' %}"/>
</head>
<body>
    <p class="top">
    <h2>I don't know how to make a login form, but i find another 
        <br>metod how to secure admin directory, i think you can't get the flag :D 
    </h2>

    <div class="wrapper">
        <a href="/utm_admin/" class="button">admin directory</a>
    </div>
    <img src="{% static 'mainApp/image/gi.gif' %}" class="center">
</body>
</html>